.zIEGn {
    position: relative;
}

.react-codemirror2:first-child {
    margin-top: 0;
}

.react-codemirror2:last-child {
    margin-bottom: 0;
}


.CodeMirror.cm-s-material {
    height: 70vh;
    border-radius: 16px;
}

.CodeMirror pre {
    font-variant-ligatures: none;
}

pre {
    text-align: left;
}

a {
    color: #addb67;
}

* {
    letter-spacing: unset;
}
